{% extends 'ListTravels/base.html.twig' %}

{% block body %}
<div class="contHome">
    <h1 class="contHome--h1" >Agenda de viajes</h1>
    <h3 class="contHome--h3">Tu propia agenda de viajes donde podrás añadir un itinerario para que aproveches al máximo tú tiempo en cada destino, una descripción del lugar y la fecha en la que viajarás a este en un futuro.</h3>
    {# <div class="contHome--textAndIcon"> #}
     <h3 class="contHome--h3">Tendrás que iniciar sesión para acceder a tú contenido y poder añadir más viajes.</h3>
     <a class="" href="{{ path("app_login") }}"><img class="iconNav" src="https://cdn-icons-png.flaticon.com/512/272/272354.png"></a>
    {# </div> #}

</div>
{% endblock %}
{% block title %}Home{% endblock %}